<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="{% static 'lihat_peta/lib/openlayers/js/ol.js' %}"></script>
    <script type="text/javascript" src="{% static 'lihat_peta/lib/ol3-extended/js/layerswitchercontrol.js' %}"></script>
    <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>
    <script type="text/javascript" src="{% static 'simtaru_kabbdg/assets/lib/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'simtaru_kabbdg/assets/lib/jquery/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'simtaru_kabbdg/assets/lib/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lihat_peta/js/jquery_form.js' %}"></script>
    <link href="{% static 'simtaru_kabbdg/assets/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'simtaru_kabbdg/assets/lib/jquery/jquery-ui.css' %}" rel="stylesheet"/>
    <link href="{% static 'lihat_peta/css/ol_custom.css' %}" rel="stylesheet"/>
    <script>
        var geourl = "http://128.199.100.103/geoserver";
    </script>
    <script type="text/javascript" src="{% static 'lihat_peta/js/layer.js' %}"></script>
    <!-- Bootsrap -->

</head>
<body>
    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    </div><!-- /.modal -->
    <div id="map" class="map" style=""></div>
    <div id="popup" class="ol-popup">
        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content"></div>
    </div>
    <script>
        var markers = [];
        {% for l in lokasi %}
            var marker_{{ l.pk }} = new ol.Feature({
                geometry: new ol.geom.Point(ol.proj.transform([ parseFloat({{ l.longitude }}),  parseFloat({{ l.latitude }})], 'EPSG:4326', 'EPSG:3857')),
                kecamatan: '{{ l.kecamatan }}',
                desa: '{{ l.desa }}',
                lokasi: '{{ l.lokasi }}',
                luas_area: '{{ l.luas_area }}',
                kategori : '{{ l.kategori }}'
            });
            marker_{{ l.pk }}.setId({{ l.pk }});
            marker_{{ l.pk }}.setStyle(new ol.style.Style({
                image: new ol.style.Icon(({
                    {% if l.kategori == 'KUMUH BERAT' %}
                        color: '#DE2D18',
                    {% elif l.kategori == 'KUMUH SEDANG' %}
                        color: '#DED818',
                    {% elif l.kategori == 'KUMUH RINGAN' %}
                        color: '#1CBD0C',
                    {% else %}
                        color: '#203ACD',
                    {% endif %}
                    crossOrigin: 'anonymous',
                    src: 'https://openlayers.org/en/v4.1.0/examples/data/dot.png'
                }))
              }));
            markers.push(marker_{{ l.pk }});
        {% endfor %}
        var vectorSource = new ol.source.Vector({
            features: markers
        });

        var vectorLayer = new ol.layer.Vector({
            source: vectorSource
        });
    </script>
    <script type="text/javascript" src="{% static 'lihat_peta/js/peta_daerahkumuh.js' %}"></script>

</body>
</html>