
{% load staticfiles %}

<script type="text/javascript"
        src="{% static 'simtaru_kabbdg/assets/lib/jquery/jquery.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'simtaru_kabbdg/assets/lib/jquery/jquery-ui.js' %}"></script>
<script type="text/javascript"
        src="{% static 'simtaru_kabbdg/assets/lib/bootstrap/js/bootstrap.min.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'lihat_peta/js/jquery_form.js' %}"></script>-->
<link href="{% static 'simtaru_kabbdg/assets/lib/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"/>
<link href="{% static 'simtaru_kabbdg/assets/lib/jquery/jquery-ui.css' %}"
      rel="stylesheet"/>
<style>
table {border-collapse:collapse; table-layout:fixed; width:inherit;}
table td {width:20em; word-wrap:break-word; padding:5px;}

</style>

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <form id="item_update_form" action="." method="post"
              enctype="multipart/form-data" role="form">
            {% csrf_token %}
            <div class="modal-header">
                <a  class="close" data-dismiss="modal" href="/peta/sikaku"
                        aria-hidden="true">×
                </a>
                <h4 class="modal-title" id="myModalLabel">{{ form.name }}</h4>
            </div>
            <div class="modal-body">
                {{ form.non_field_errors }}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="fieldWrapper">
                                {{ form.kecamatan.errors }}
                                <label for="{{ form.kecamatan.id_for_label }}">Kecamatan:</label>
                                {{ form.kecamatan }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="fieldWrapper">
                                {{ form.longitude.errors }}
                                <label for="{{ form.longitude.id_for_label }}">Longitude:</label>
                                {{ form.longitude }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="fieldWrapper">
                                {{ form.desa.errors }}
                                <label for="{{ form.desa.id_for_label }}">Desa:</label>
                                {{ form.desa }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="fieldWrapper">
                                {{ form.latitude.errors }}
                                <label for="{{ form.latitude.id_for_label }}">Latitude:</label>
                                {{ form.latitude }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="fieldWrapper">
                                {{ form.lokasi.errors }}
                                <label for="{{ form.lokasi.id_for_label }}">Lokasi:</label>
                                {{ form.lokasi }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="fieldWrapper">
                                {{ form.foto_kondisi.errors }}
                                <label for="{{ form.foto_kondisi.id_for_label }}">Foto
                                    Kondisi saat ini:</label>
                                {{ form.foto_kondisi }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="fieldWrapper">
                                {{ form.luas_area.errors }}
                                <label for="{{ form.luas_area.id_for_label }}">Luas
                                    Area:</label>
                                {{ form.luas_area }}
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            {{ form.nama_surveyor.errors }}
                            <label for="{{ form.nama_surveyor.id_for_label }}">Nama
                                Surveyor:</label>
                            {{ form.nama_surveyor }}
                        </div>
                        <div class="col-md-6">
                            <div class="fieldWrapper">
                                {{ form.tlp_surveyor.errors }}
                                <label for="{{ form.tlp_surveyor.id_for_label }}">Tlp
                                    Surveyor:</label>
                                {{ form.tlp_surveyor }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>
                                    Aspek
                                </th>
                                <th>
                                    Kriteria
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    1. KONDISI BANGUNAN GEDUNG
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td>a. Ketidakteraturan Bangunan
                                            </td>
                                            <td>{{ form.aspek1 }}</td>
                                        </tr>
                                        <tr>
                                            <td>b. Tingkat Kepadatan Bangunan
                                            </td>
                                            <td>{{ form.aspek2 }}</td>
                                        </tr>
                                        <tr>
                                            <td>c. Ketidaksesuaian dengan
                                                Persyaratan Teknis Bangunan
                                            </td>
                                            <td>{{ form.aspek3 }}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    2. Kondisi Jalan Lingkungan
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td>a. Cakupan Pelayanan Jalan
                                                Lingkungan
                                            </td>
                                            <td>{{ form.aspek4 }}</td>
                                        </tr>
                                        <tr>
                                            <td>b. Kualitas Permukaan Jalan
                                                lingkungan
                                            </td>
                                            <td>{{ form.aspek5 }}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    3. Kondisi Penyediaan Air Minum
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td>a. Ketersediaan Akses Aman Air
                                                Minum
                                            </td>
                                            <td>{{ form.aspek6 }}</td>
                                        </tr>
                                        <tr>
                                            <td>b. Tidak terpenuhinya Kebutuhan
                                                Air Minum
                                            </td>
                                            <td>{{ form.aspek7 }}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    4. Kondisi Drainase Lingkungan
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td>a. Ketidakmampuan Mengalirkan
                                                Limpasan Air
                                            </td>
                                            <td>{{ form.aspek8 }}</td>
                                        </tr>
                                        <tr>
                                            <td>b. Ketidaktersediaan Drainase
                                            </td>
                                            <td>{{ form.aspek9 }}</td>
                                        </tr>
                                        <tr>
                                            <td>c. Ketidakterhubungan dengan
                                                Sistem Drainase Perkotaan
                                            </td>
                                            <td>{{ form.aspek10 }}</td>
                                        </tr>
                                        <tr>
                                            <td>d. Tidak terpeliharanya
                                                Drainase
                                            </td>
                                            <td>{{ form.aspek11 }}</td>
                                        </tr>
                                        <tr>
                                            <td>e. Kualitas Konstruksi
                                                Drainase
                                            </td>
                                            <td>{{ form.aspek12 }}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    5. Kondisi Pengelolaan Air Limbah
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td>a. Sistem Pengelolaan Air
                                                Limbah Tidak Sesuai Standar
                                                Teknis
                                            </td>
                                            <td>{{ form.aspek13}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>b. Prasarana dan Sarana
                                                Pengelolaan Air Limbah Tidak
                                                Sesuai dengan Persyaratan
                                                Teknis
                                            </td>
                                            <td>{{ form.aspek14 }}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    6. Kondisi Pengelolaan Persampahan
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td>a. Prasarana dan Sarana
                                                Persampahan Tidak Sesuai dengan
                                                persyaratan Teknis
                                            </td>
                                            <td>{{ form.aspek15 }}</td>
                                        </tr>
                                        <tr>
                                            <td>b. Sistem Pengelolaan
                                                Persampahan yang tidak sesuai
                                                Standar Teknis
                                            </td>
                                            <td>{{ form.aspek16 }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>c. Tidak terpeliharanya Sarana
                                                dan Prasarana Pengelolaan
                                                Persampahan
                                            </td>
                                            <td>{{ form.aspek17 }}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    7. Kondisi Proteksi Kebakaran
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td>a. Ketidaktersediaan Prasarana
                                                Proteksi Kebakaran
                                            </td>
                                            <td>{{ form.aspek18 }}</td>
                                        </tr>
                                        <tr>
                                            <td>b. Ketidaktersediaan Sarana
                                                Proteksi Kebakaran
                                            </td>
                                            <td>{{ form.aspek19 }}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="fieldWrapper">
                                    {{ form.aspek_total.errors }}
                                    <label for="{{ form.aspek_total.id_for_label }}">Total:</label>
                                    {{ form.aspek_total.value }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="fieldWrapper">
                                    {{ form.kategori.errors }}
                                    <label for="{{ form.kategori.id_for_label }}">Kategori:</label>
                                    {{ form.kategori.value }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!--<input type="button" class="btn btn-default"-->
                       <!--data-dismiss="modal" value="Cancel"/>-->
                <a  class="btn btn-default"
                    href="/peta/sikaku">Cancel</a>
                <input type="submit" class="btn btn-primary" value="Save"
                       style="margin-bottom: 5px;"/>
            </div>
        </form>
    </div>
</div>
