{% extends "simtaru_kabbdg/base.html" %}
{% load staticfiles %}

{% block extra_header %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

<link href="{% static 'lihat_peta/lib/openlayers/css/ol.css' %}" rel="stylesheet"/>
<link href="{% static 'lihat_peta/lib/ol3-extended/css/layerswitchercontrol.css' %}" rel="stylesheet"/>
<link href="{% static 'lihat_peta/lib/ol3-extended/css/style.css' %}" rel="stylesheet"/>

<script type="text/javascript" src="{% static 'lihat_peta/lib/openlayers/js/ol.js' %}"></script>
<script type="text/javascript" src="{% static 'lihat_peta/lib/ol3-extended/js/layerswitchercontrol.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.2.61/jspdf.min.js"></script>
<script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>
<link href="{% static 'lihat_peta/css/ol_custom.css' %}" rel="stylesheet"/>
<script>
    var geourl = "{{ GEOURL }}";
</script>
<script type="text/javascript" src="{% static 'lihat_peta/js/layer.js' %}"></script>
{% endblock extra_header %}

{% block content_container %}
<div class="map-content">
    <div style="position:absolute; width:380px; height: 100%; float:left; padding-left:10px; padding-right:10px;">
        <div class="form-inline">
            <div class="form-group">
                <label for="tipe_pencarian">Jenis Pencarian</label>
                <select id="tipe_pencarian">
                    <option value="nama">Nama Daerah</option>
                    <option value="koordinat" selected="selected">Koordinat</option>
                </select>
            </div>
            <button id="export-pdf">Export PDF</button>
        </div>
        <br/>
        <form id="nama" class="hidden" method="post">
            {% csrf_token %}
            <!-- search box -->
            <div class="form-group">
                <input class="form-control" type="text" id="cari_kecamatan" placeholder="Nama Kecamatan">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" id="cari_desa" placeholder="Nama Desa">
            </div>
            <br/>
            <button class="btn btn-primary" id="btn_cari_nama">Cari</button>
        </form>
         <form id="koordinat" class="hidden" method="post">
             {% csrf_token %}
            <!-- search box -->
            <div class="form-group">
                <input class="form-control" type="text" id="cari_longitude" placeholder="Longitude">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" id="cari_latitude" placeholder="Latitude">
            </div>
            <br/>
            <button class="btn btn-primary" id="btn_cari_koordinat">Cari</button>
        </form>
        <br/>
        <!-- tabbable navigation -->
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Pilih Peta</a></li>
                <li><a href="#tab2" data-toggle="tab">Legenda</a></li>
                <li id="tabcontent"><a href="#tab3" data-toggle="tab">Data Peruntukan</a></li>
            </ul>
            <div class="tab-content" id="tablist">
                <div class="tab-pane active" id="tab1">
                    <div class="layerSwitcher"></div>
                </div>
                <div class="tab-pane" id="tab2">
                    <img src="{{ GEOURL }}/wms?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&STRICT=false&style=SIMTARU:pola_ruang"/>
                </div>
                <div class="tab-pane" id="tab3">
                </div>
            </div>
        </div>
    </div>
    <div id="map" class="map" style="height:75%; margin-left:400px;"></div>
    <div id="popup" class="ol-popup">
        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content"></div>
    </div>

    <script type="text/javascript" src="{% static 'lihat_peta/js/bandungis.js' %}"></script>
    <script type="text/javascript" src="{% static 'lihat_peta/js/exportpdf.js' %}"></script>
</div>
{% endblock content_container %}
