<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Dosis:400,700' rel='stylesheet' type='text/css'>

        <!-- Bootsrap -->
        <link href="{% static 'simtaru_kabbdg/assets/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>
        <link href="{% static 'simtaru_kabbdg/assets/lib/jquery/jquery-ui.css' %}" rel="stylesheet"/>

        <!-- Font awesome -->
        <link rel="stylesheet" href="{% static 'simtaru_kabbdg/assets/css/font-awesome.min.css' %}">

        <!-- Owl carousel -->
        <link rel="stylesheet" href="{% static 'simtaru_kabbdg/assets/css/owl.carousel.css' %}">

        <!-- Template main Css -->
        <link rel="stylesheet" href="{% static 'simtaru_kabbdg/assets/css/style.css' %}">
     <!-- Modernizr -->
{#        <script src="{% static 'simtaru_kabbdg/assets/js/modernizr-2.6.2.min.js' %}"></script>#}
        <script type="text/javascript" src="{% static 'simtaru_kabbdg/assets/lib/jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'simtaru_kabbdg/assets/lib/jquery/jquery-ui.js' %}"></script>
        <script type="text/javascript" src="{% static 'simtaru_kabbdg/assets/lib/bootstrap/js/bootstrap.min.js' %}"></script>
    <link href="{% static 'lihat_peta/lib/openlayers/css/ol.css' %}" rel="stylesheet"/>
    <link href="{% static 'lihat_peta/lib/ol3-extended/css/layerswitchercontrol.css' %}" rel="stylesheet"/>
    <link href="{% static 'lihat_peta/lib/ol3-extended/css/style.css' %}" rel="stylesheet"/>

    <script type="text/javascript" src="{% static 'lihat_peta/lib/openlayers/js/ol.js' %}"></script>
    <script type="text/javascript" src="{% static 'lihat_peta/lib/ol3-extended/js/layerswitchercontrol.js' %}"></script>
    <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>
    <link href="{% static 'lihat_peta/css/ol_custom.css' %}" rel="stylesheet"/>
    <script>
        var geourl = "{{ GEOURL }}";
    </script>
</head>

<body>
<div class="map-content">
    <div style="position:absolute; width:380px; height: 100%; float:left; padding-left:10px; padding-right:10px;">
        <div class="form-inline">
            <div class="form-group">
                <label for="tipe_pencarian">Jenis Pencarian</label>
                <select id="tipe_pencarian">
                    <option value="nama">Nama Daerah</option>
                    <option value="koordinat" selected="selected">Koordinat</option>
                </select>
            </div>
        </div>
        <br/>
        <form id="nama" class="hidden" method="post">
            {% csrf_token %}
            <!-- search box -->
            <div class="form-group">
                <input class="form-control" type="text" id="cari_kecamatan" placeholder="Nama Kecamatan">
            </div>

            <br/>
            <button class="btn btn-primary" id="btn_cari_nama">Cari</button>
        </form>
         <form id="koordinat" class="hidden" method="post">
             {% csrf_token %}
            <!-- search box -->
            <div class="form-group">
                <input class="form-control" type="text" id="cari_longitude" placeholder="Longitude">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" id="cari_latitude" placeholder="Latitude">
            </div>
            <br/>
            <button class="btn btn-primary" id="btn_cari_koordinat">Cari</button>
        </form>
        <br/>
        <!-- tabbable navigation -->
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Pilih Peta</a></li>
                <li><a href="#tab2" data-toggle="tab">Legenda</a></li>
                <li id="tabcontent"><a href="#tab3" data-toggle="tab">Data Peruntukan</a></li>
            </ul>
            <div class="tab-content" id="tablist">
                <div class="tab-pane active" id="tab1">
                    <div class="layerSwitcher"></div>
                </div>
                <div class="tab-pane" id="tab2">
                    <img src="{{ GEOURL }}/wms?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&STRICT=false&style=RDTR:pola_ruang_merge"/>
                </div>
                <div class="tab-pane" id="tab3">
                </div>
            </div>
        </div>
    </div>
    <div id="map" class="map" style="height:75%; margin-left:400px;"></div>
    <div id="popup" class="ol-popup">
        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content"></div>
    </div>

    <script type="text/javascript" src="{% static 'lihat_peta/js/peta_rdtr.js' %}"></script>
</div>
</body>
</html>
