
{% load staticfiles %}

<script type="text/javascript"
        src="{% static 'simtaru_kabbdg/assets/lib/jquery/jquery.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'simtaru_kabbdg/assets/lib/jquery/jquery-ui.js' %}"></script>
<script type="text/javascript"
        src="{% static 'simtaru_kabbdg/assets/lib/bootstrap/js/bootstrap.min.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'lihat_peta/js/jquery_form.js' %}"></script>-->
<link href="{% static 'simtaru_kabbdg/assets/lib/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"/>
<link href="{% static 'simtaru_kabbdg/assets/lib/jquery/jquery-ui.css' %}"
      rel="stylesheet"/>
<style>
table {border-collapse:collapse; table-layout:fixed; width:inherit;}
table td {width:20em; word-wrap:break-word; padding:5px;}

</style>

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <form id="item_update_form" action="." method="post"
              enctype="multipart/form-data" role="form">
            {% csrf_token %}
            <div class="modal-header">
                <a  class="close" data-dismiss="modal" href="/peta/sikaku"
                        aria-hidden="true">×
                </a>
                <h4 class="modal-title" id="myModalLabel">{{ form.name }}</h4>
            </div>
            <div class="modal-body">
                {{ form.non_field_errors }}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="fieldWrapper">
                                {{ form.kecamatan.errors }}
                                <label for="{{ form.kecamatan.id_for_label }}">Kecamatan:</label>
                                {{ form.kecamatan }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="fieldWrapper">
                                {{ form.longitude.errors }}
                                <label for="{{ form.longitude.id_for_label }}">Longitude:</label>
                                {{ form.longitude }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="fieldWrapper">
                                {{ form.kelurahan.errors }}
                                <label for="{{ form.kelurahan.id_for_label }}">Kelurahan:</label>
                                {{ form.kelurahan }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="fieldWrapper">
                                {{ form.latitude.errors }}
                                <label for="{{ form.latitude.id_for_label }}">Latitude:</label>
                                {{ form.latitude }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="fieldWrapper">
                                {{ form.lokasi.errors }}
                                <label for="{{ form.lokasi.id_for_label }}">Lokasi:</label>
                                {{ form.lokasi }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="fieldWrapper">
                                {{ form.operator.errors }}
                                <label for="{{ form.operator.id_for_label }}">Operator</label>
                                {{ form.operator }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!--<input type="button" class="btn btn-default"-->
                       <!--data-dismiss="modal" value="Cancel"/>-->
                <a  class="btn btn-default"
                    href="/peta/menara">Cancel</a>
                <input type="submit" class="btn btn-primary" value="Save"
                       style="margin-bottom: 5px;"/>
            </div>
        </form>
    </div>
</div>
