{% extends 'simtaru_kabbdg/base_content.html' %}
{% load staticfiles %}
{% block title %}
    Download
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="team-member">
                <div class="thumnail">
                    <img src="{% static 'simtaru_kabbdg/assets/images/team/member-1.jpg' %}" alt="" class="cause-img">

                </div>
                <h4 class="member-name"><a href="{% url 'dokumen:peta_dasar' %}">Download Peta Dasar</a></h4>


            </div> <!-- /.team-member -->

        </div>
        <div class="col-md-3 col-sm-6">
            <div class="team-member">
                <div class="thumnail">
                    <img src="{% static 'simtaru_kabbdg/assets/images/team/member-3.jpg' %}" alt="" class="cause-img">

                </div>
                <h4 class="member-name"><a href="{% url 'dokumen:peta_rencana' %}">Download Peta Rencana</a></h4>

            </div> <!-- /.team-member -->

        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="team-member">
                <div class="thumnail">
                    <img src="{% static 'simtaru_kabbdg/assets/images/team/member-4.jpg' %}" alt="" class="cause-img">

                </div>
                <h4 class="member-name"><a href="http://23.244.65.219/simtaru.kabbdg/download/dokumen/01.%20BUKU%20RENCANA%20RTRW.rar">BUKU RENCANA RTRW</a></h4>


            </div> <!-- /.team-member -->

        </div>
        <div class="col-md-3 col-sm-6">
            <div class="team-member">
                <div class="thumnail">
                    <img src="{% static 'simtaru_kabbdg/assets/images/team/member-4.jpg' %}" alt="" class="cause-img">

                </div>
                <h4 class="member-name"><a href="http://23.244.65.219/simtaru.kabbdg/download/dokumen/02.%20SLHD.rar">SLHD</a></h4>

            </div> <!-- /.team-member -->

        </div>
        <div class="col-md-3 col-sm-6">
            <div class="team-member">
                <div class="thumnail">
                    <img src="{% static 'simtaru_kabbdg/assets/images/team/member-4.jpg' %}" alt="" class="cause-img">

                </div>
                <h4 class="member-name"><a href="http://23.244.65.219/simtaru.kabbdg/download/dokumen/03.%20KLHS%20RTRW.rar">KLHS RTRW</a></h4>

            </div> <!-- /.team-member -->

        </div>
        <div class="col-md-3 col-sm-6">
            <div class="team-member">
                <div class="thumnail">
                    <img src="{% static 'simtaru_kabbdg/assets/images/team/member-4.jpg' %}" alt="" class="cause-img">

                </div>
                <h4 class="member-name"><a href="http://23.244.65.219/simtaru.kabbdg/download/dokumen/04.%20BUKU%20PUTIH.rar">BUKU PUTIH</a></h4>

            </div> <!-- /.team-member -->

        </div>
    </div>
    <br/>
    {% if not tamu %}
        <h2 class="title-style-2">Download Dokumen<span class="title-under"></span></h2>
        {% if doc %}
            <table class="table table-style-1">
                <thead>
                    <tr>
                        <th>File</th>
                        <th>Tanggal Upload</th>
                        <th>Jumlah Download</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in doc %}
                        <tr>
                            <td><a href="{% url 'dokumen:download' d.id %}">{{ d.berkas.name }}</a></td>
                            <td>{{ d.tgl_upload|date:"d/m/y H:i" }}</td>
                            <td>{{ d.total_download }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h3>Belum ada dokumen yang diunggah</h3>
        {% endif %}
    {% endif %}
{% endblock content %}