{% extends 'simtaru_kabbdg/base_content.html' %}
{% block title %}
    Download Peta Dasar
{% endblock title %}

{% block content %}
    <h2 class="title-style-2">Download Peta Dasar <span class="title-under"></span></h2>
    <table class="table table-style-1">
        <thead>
        <tr>
          <th>#</th>
          <th>Nama File</th>
          <th>Ukuran File</th>
          <th>Aksi</th>
        </tr>
      </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Orientasi Wilayah Kabupaten Bandung</td>
          <td>6 MB</td>
          <td><a href="http://23.244.65.219/simtaru.kabbdg/download/peta/PETA%20DASAR%20KAB.%20BANDUNG/1%20Orientasi%20Wilayah%20Kabupaten%20Bandung.jpg" target="_blank" target="_blank" target="_blank">download </a></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Administrasi Kabupaten Bandung</td>
          <td>18 MB</td>
          <td><a href="http://23.244.65.219/simtaru.kabbdg/download/peta/PETA%20DASAR%20KAB.%20BANDUNG/2%20Administrasi%20Kabupaten%20Bandung.jpg" target="_blank" target="_blank">download </a></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Morfologi Kabupaten Bandung</td>
          <td>17.1 MB</td>
          <td><a href="http://23.244.65.219/simtaru.kabbdg/download/peta/PETA%20DASAR%20KAB.%20BANDUNG/4%20Morfologi%20Kabupaten%20Bandung.jpg" target="_blank" target="_blank">download </a></td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Tata Guna Lahan Kabupaten </td>
          <td>23.3 MB</td>
          <td><a href="http://23.244.65.219/simtaru.kabbdg/download/peta/PETA%20DASAR%20KAB.%20BANDUNG/5%20Tata%20Guna%20Lahan%20Kabupaten%20.jpg" target="_blank" target="_blank">download </a></td>
        </tr>

        <tr>
          <th scope="row">5</th>
          <td>Sebaran Penduduk</td>
          <td>17.3 MB</td>
          <td><a href="http://23.244.65.219/simtaru.kabbdg/download/peta/PETA%20DASAR%20KAB.%20BANDUNG/6%20Sebaran%20Penduduk.jpg" target="_blank">download </a></td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Rawan Bencana Gunung Berapi</td>
          <td>18.6 MB</td>
          <td><a href="http://23.244.65.219/simtaru.kabbdg/download/peta/PETA%20DASAR%20KAB.%20BANDUNG/7%20Rawan%20Bencana%20Gunung%20Berapi.jpg" target="_blank">download </a></td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>Rawan Bencana Gempa Bumi</td>
          <td>19.2 MB</td>
          <td><a href="http://23.244.65.219/simtaru.kabbdg/download/peta/PETA%20DASAR%20KAB.%20BANDUNG/8%20Rawan%20Bencana%20Gempa%20Bumi.jpg" target="_blank">download </a></td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>Rawan Bencana Gerakan Tanah</td>
          <td>21.1 MB</td>
          <td><a href="http://23.244.65.219/simtaru.kabbdg/download/peta/PETA%20DASAR%20KAB.%20BANDUNG/9%20Rawan%20Bencana%20Gerakan%20Tanah.jpg" target="_blank">download </a></td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td>10 Rawan Bencana Banjir</td>
          <td>18.8 MB</td>
          <td><a href="http://23.244.65.219/simtaru.kabbdg/download/peta/PETA%20DASAR%20KAB.%20BANDUNG/10%20Rawan%20Bencana%20Banjir.jpg" target="_blank">download </a></td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td>Kawasan Resapan Air</td>
          <td>17.7 MB</td>
          <td><a href="http://23.244.65.219/simtaru.kabbdg/download/peta/PETA%20DASAR%20KAB.%20BANDUNG/11%20Kawasan%20Resapan%20Air.jpg" target="_blank">download </a></td>
        </tr>
        </tbody>
    </table>
{% endblock content %}