{% extends 'simtaru_kabbdg/base_content.html' %}
{% block title %}
    Download Peta Rencana
{% endblock title %}

{% block content %}
    <h2 class="title-style-2">Download Peta Rencana <span class="title-under"></span></h2>
    <table class="table table-style-1">
        <thead>
        <tr>
          <th>#</th>
          <th>Nama File</th>
          <th>Ukuran File</th>
          <th>Aksi</th>
        </tr>
      </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>1 Struktur Ruang</td>
          <td>8.24 MB</td>
          <td><a href="http://23.244.65.219/simtaru.kabbdg/download/peta/PETA%20RENCANA/1%20Struktur%20Ruang.jpg" target="_blank" target="_blank" target="_blank">download </a></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Wilayah Pengembangan</td>
          <td>7.19 MB</td>
          <td><a href="http://23.244.65.219/simtaru.kabbdg/download/peta/PETA%20RENCANA/2%20Wilayah%20Pengembangan.jpg" target="_blank" target="_blank">download </a></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Rencana Jaringan Prasarana</td>
          <td>7.5 MB</td>
          <td><a href="http://23.244.65.219/simtaru.kabbdg/download/peta/PETA%20RENCANA/3%20Rencana%20Jaringan%20Prasarana.jpg" target="_blank" target="_blank">download </a></td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>4 Rencana Pola Ruang</td>
          <td>8.24 MB</td>
          <td><a href="http://23.244.65.219/simtaru.kabbdg/download/peta/PETA%20RENCANA/4%20Rencana%20Pola%20Ruang.jpg" target="_blank" target="_blank">download </a></td>
        </tr>

        <tr>
          <th scope="row">5</th>
          <td>Kawasan Strategis</td>
          <td>8.84 MB</td>
          <td><a href="http://23.244.65.219/simtaru.kabbdg/download/peta/PETA%20RENCANA/5%20Kawasan%20Strategis.jpg" target="_blank">download </a></td>
        </tr>
        </tbody>
    </table>
{% endblock content %}