{% extends 'simtaru_kabbdg/base_form.html' %}

{% block content %}
    <h2 class="title-style-2">Upload Dokumen<span class="title-under"></span></h2>
    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ form.non_field_errors }}</p>
        <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
        <p>
            {{ form.docfile.errors }}
            {{ form.docfile }}
        </p>
        {% if user.is_superuser %}
            <p>{{ form.berkas_publik }} untuk publik</p>
        {% endif %}
        <p><input type="submit" value="Upload"/></p>
    </form>
{% endblock content %}