{% extends 'simtaru_kabbdg/base_content.html' %}
{% block title %}
    Berita
{% endblock title %}

{% block content %}
    <div class="row fadeIn animated">
        <h2 class="title-style-2">{{ berita.judul }} <span class="title-under"></span></h2>
        <div style="float:left">
            <img src="{{ berita.gambar.url }}" alt="" class="img-responsive">
        </div>
        <p>
            <div style="text-align: justify;">{{ berita.berita_panjang|safe }}</div>
        </p>
    </div>
{% endblock content %}