{% extends 'simtaru_kabbdg/base_content.html' %}
{% block title %}
    Berita Terbaru
{% endblock title %}

{% block content %}
    <h2 class="title-style-1">
        Berita Terbaru
        <span class="title-under"></span>
    </h2>
    {% if berita %}
        <div class="row">
            {% for b in berita %}
                <div class="col-md-3 col-sm-6">
                    <div class="cause">
                        <img src="{{ b.gambar.url }}" alt="" class="cause-img" height="150" width="150"/>
                        <h4 class="cause-title">
                            <a href="#">
                                {{ b.judul }}
                            </a>
                        </h4>
                        <div class="cause-details">
                            {{ b.updated }}
                            <br>
                            <br>
                            <p>{{ b.berita_pendek }}...</p>
                        </div>
                        <div class="btn-holder text-center">
                          <a href="{% url 'berita:sebuah_berita' b.id %}" class="btn btn-primary" data-toggle="modal"> SELENGKAPNYA..</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h3>Belum Ada Berita</h3>
    {% endif %}
{% endblock content %}