{% extends 'simtaru_kabbdg/base_content.html' %}

{% block title %}
Detail Penggunaan
{% endblock title %}

{% block content %}
<h2 class="title-style-2">Peruntukan Peta Berdasarkan {{ alasan }}<span class="title-under"></span></h2>
{% if detail %}
    <table class="table table-style-1">
        <thead>
            <tr>
                <th>Nama</th>
                <th>Email</th>
                <th>Tlp</th>
            </tr>
        </thead>
        <tbody>
            {% for d in detail %}
                <tr>
                    <td>{{ d.nama }}</td>
                    <td>{{ d.email }}</td>
                    <td>{{ d.tlp }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <h3>Belum ada dokumen yang mengakses</h3>
{% endif %}

<a href="{% url 'grafik' %}">
    <button class="btn btn-primary">
        Kembali
    </button>
</a>

{% endblock content %}