{% extends "simtaru_kabbdg/base_form.html" %}
{% block content %}
    <h2 class="title-style-2">Silahkan Isi Form Dibawah Ini<span class="title-under"></span></h2>
    <form action="{% url 'kuisioner:kuisioner' %}" class="contact-form ajax-form" method="POST">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="row">
                            <div class="form-group col-md-4">
                                {{ form.nama.errors }}
                                <label for="id_nama">Nama*</label>
                                {{ form.nama }}
                            </div>
                             <div class="form-group col-md-4">
                                {{ form.email.errors }}
                                <label for="id_email">E-mail*</label>
                                {{ form.email }}
                            </div>
                            <div class="form-group col-md-4">
                                {{ form.tlp.errors }}
                                <label for="id_tlp">No Handphone*</label>
                                {{ form.tlp }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.alasan.errors }}
                            <label for="id_alasan"><h3>Tujuan Mengakses Peta :</h3></label>
                            {{ form.alasan }}
                        </div>
                        <div class="form-group alerts">
                            <div class="alert alert-success" role="alert">
                            </div>
                            <div class="alert alert-danger" role="alert">
                            </div>
                        </div>
                         <div class="form-group">
                           <button type="submit" class="btn btn-primary pull-right">LANJUTKAN</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
{% endblock content %}