{% extends "simtaru_kabbdg/base_form.html" %}
{% block content %}
    <h1>Silahkan memasukan token yang dikirim ke E-Mail anda:</h1>
    <form method="POST" action="/kuisioner/token">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" name="token" type="text" id="token">
        </div>
        <div class="form-group">
           <button type="submit" class="btn btn-primary pull-right">LANJUTKAN</button>
        </div>
    </form>
{% endblock content %}