{% extends 'simtaru_kabbdg/base.html' %}
{% block content_container %}
    <div class="page-heading text-center">
    <div class="container zoomIn animated">
        <h1 class="page-title">
            {% block title %}
                Judul
            {% endblock title %}
            <span class="title-under"></span>
        </h1>
        <p class="page-description">
            Sistem Informasi Tata Ruang Kabupaten Bandung
        </p>
    </div>

    </div>
    <div class="main-container fadeIn animated">
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
{% endblock content_container %}