{% extends 'simtaru_kabbdg/base.html' %}
{% block content_container %}
    <div class="main-container fadeIn animated">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-12 col-form">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>
    </div>
{% endblock content_container %}