<!DOCTYPE html>
{% load staticfiles %}
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>SIMTARU | Kabupaten Bandung</title>
        <link rel="icon" href="{% static 'simtaru_kabbdg/assets/images/icons/favicon.png' %}" type="image/x-icon" />
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Dosis:400,700' rel='stylesheet' type='text/css'>

        <!-- Bootsrap -->
        <link href="{% static 'simtaru_kabbdg/assets/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>
        <link href="{% static 'simtaru_kabbdg/assets/lib/jquery/jquery-ui.css' %}" rel="stylesheet"/>

        <!-- Font awesome -->
        <link rel="stylesheet" href="{% static 'simtaru_kabbdg/assets/css/font-awesome.min.css' %}">

        <!-- Owl carousel -->
        <link rel="stylesheet" href="{% static 'simtaru_kabbdg/assets/css/owl.carousel.css' %}">

        <!-- Template main Css -->
        <link rel="stylesheet" href="{% static 'simtaru_kabbdg/assets/css/style.css' %}">

        <!-- Modernizr -->
        <script src="{% static 'simtaru_kabbdg/assets/js/modernizr-2.6.2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'simtaru_kabbdg/assets/lib/jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'simtaru_kabbdg/assets/lib/jquery/jquery-ui.js' %}"></script>
        <script type="text/javascript" src="{% static 'simtaru_kabbdg/assets/lib/bootstrap/js/bootstrap.min.js' %}"></script>
        {% block extra_header %}
        {% endblock extra_header %}

    </head>

    <body>

    <header class="main-header">

        <nav class="navbar navbar-static-top">

            <div class="navbar-top">

              <div class="container">
                  <div class="row">

                    <div class="col-sm-6 col-xs-12">


                    </div>

                    <div class="col-sm-6 col-xs-12 text-right">
                        <ul class="list-unstyled list-inline header-contact">
                            <li> <i class="fa fa-phone"></i> <a href="tel:">+022(xxxxx) </a> </li>
                            <li> <i class="fa fa-envelope"></i> <a href="mailto:contact@sadaka.org">contact@simtaru.kabbdg.go.id</a> </li>
                            {% if user.is_authenticated %}
                                <li>
                                    {% if user.first_name %}
                                        {{ user.first_name|upper }}
                                    {% else %}
                                        {{ user.username }}
                                    {% endif %}
                                </li>
                                {% if user.is_superuser %}
                                    <li><a href="/admin">Menu Admin</a></li>
                                {% endif %}
                            {% endif %}

                       </ul>
                    </div>

                  </div>
              </div>

            </div>

            <div class="navbar-main">

              <div class="container">

                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">

                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                  </button>

                  <a class="navbar-brand" href="/"><img src="{% static 'simtaru_kabbdg/assets/images/logo.png' %}" alt=""></a>

                </div>

                <div id="navbar" class="navbar-collapse collapse pull-right">
                    <!--Menu-->
                    <ul class="nav navbar-nav">
                        <li><a href="/">HOME</a></li>
                        <li class="has-child"><a href="{% url 'profile' %}">PROFIL SIMTARU</a>
                        </li>
                        <li><a href="/peta">PETA</a></li>
                        <li><a href="{% url 'berita:semua_berita' %}">BERITA</a></li>
                        <li class="has-child">
                            <a href="{% url 'dokumen:dokumen' %}">DOWNLOAD</a>
                            <ul class="submenu">
                                <li class="submenu-item"><a href="{% url 'dokumen:upload' %}">Upload</a></li>
                            </ul>
                        </li>
                        {% if user.is_superuser %}
                            <li><a href="{% url 'grafik' %}">STATISTIK</a></li>
                        {% endif %}
                        <!--li><a href="gallery.php">GALERI</a></li-->
                        <li><a href="{% url 'kontak' %}">KONTAK</a></li>

                        {% if user.is_authenticated %}
                            <li class="submenu-item"><a href="/logout">LOGOUT</a></li>
                        {% else %}
                            <li><a href="/login">LOGIN</a></li>
                        {% endif %}

                    </ul>
                </div> <!-- /#navbar -->

              </div> <!-- /.container -->

            </div> <!-- /.navbar-main -->

        </nav>

    </header> <!-- /. main-header -->
    {% block content_container %}
    {% endblock content_container %}

    <footer class="main-footer">
        <div class="footer-top">
        </div>
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="footer-col">
                            <h4 class="footer-title">Tentang Aplikasi<span class="title-under"></span></h4>
                            <div class="footer-content">
                                <p>
                                    <strong>Simtaru</strong> iUU Nomor 26 tahun 2007 telah mengamanatkan semua daerah provinsi, kabupaten, dan kota harus mempunyai Rencana Tata Ruang Wilayah (RTRW)  dan Rencana Rinci Tata Ruang agar pembangunan di daerah dapat dilaksanakan dengan baik.  
                                <p>
                                    Untuk mewujudkan penyelenggaraan penataan ruang yang sesuai aturan hukum ternyata pada pemerintah daerah masih dihadapi persoalan-persoalan yang cukup mendasar, diantaranya yang merupakan hal terpenting adalah keterbatasan SDM di dalam memahami dan penyelenggaraan penataan ruang. Dilain pihak tuntutan masyarakat yang didasari atas kesadaran masyarakat akan fungsi dan peran penataan ruang yang baik juga telah meningkat.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footer-col">
                            <h4 class="footer-title">File Download<span class="title-under"></span></h4>
                            <div class="footer-content">
                                <ul class="tweets list-unstyled">
                                    <li class="tweet"> 
                                        <a href="{% url 'dokumen:dokumen' %}">Download peta dan dokumen</a>
                                    </li>
                                    <li class="tweet"> 
                                        <a href="{% url 'dokumen:peta_dasar' %}">Peta Dasar</a>
                                    </li>
                                    <li class="tweet"> 
                                        <a href="{% url 'dokumen:peta_rencana' %}">Peta Rencana</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footer-col">
                            <h4 class="footer-title">Kontak Kami <span class="title-under"></span></h4>
                            <div class="footer-content">
                                <div class="contact-items">
                                    <ul class="list-unstyled contact-items-list">
                                        <li class="contact-item"> <span class="contact-icon"> <i class="fa fa-map-marker"></i></span> Jl. Raya Soreang km.17 Komplek Pemda Kabupaten Soreang, Bandung 40912 Jawa Barat</li>
                                        <li class="contact-item"> <span class="contact-icon"> <i class="fa fa-phone"></i></span>(022) 5891-159</li>
                                        <li class="contact-item"> <span class="contact-icon"> <i class="fa fa-envelope"></i></span> contact@simtaru.go.id</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container text-right">
                Copyright © 2017 Simtaru</a>
            </div>
        </div>
    </footer> <!-- main-footer -->

    <!-- owl carouseljavascript file -->
    <script src="{% static 'simtaru_kabbdg/assets/js/owl.carousel.min.js' %}"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    </body>
</html>
