{% extends 'simtaru_kabbdg/base_content.html' %}
{% load staticfiles %}
{% block title %}
    STATISTIK PENGGUNAAN
{% endblock title %}
{% block extra_header %}
    <script type="text/javascript" src="{% static 'simtaru_kabbdg/assets/lib/highcharts/highcharts.js' %}"></script>
{% endblock extra_header %}

{% block content %}
    {% if stat %}
    <script type="text/javascript">
        var chart1; // globally available
        $(document).ready(function() {
              chart1 = new Highcharts.Chart({
                 chart: {
                    renderTo: 'container',
                    type: 'column',

                 },
                 title: {
                    text: 'Grafik Penggunaan Peta '
                 },
                 xAxis: {
                    categories: [ 'Pekerjaan', 'Pemerintahan', 'Pendidikan', 'Perijinan']
                 },
                 yAxis: {
                    title: {
                       text: 'Jumlah User'
                    }
                 },
                 series:
                    [
                      {
                          name: 'Jumlah Pengguna',
                          data: [
                            {% for s in stat %}
                                {{ s.total }} ,
                            {% endfor %}
                          ]
                      },
                    ],
                 plotOptions: {
                    series: {
                        cursor: 'pointer',
                        point: {
                            events: {
                                click: function(){
                                    location.href = {% url 'kuisioner:kuisioner' %}+ 'detail/' + this.category
                                }
                            }
                        }
                    }
                 }
              });
        });
    </script>

    <div id='container'></div>
    {% else %}
        <h2>Belum ada data</h2>
    {% endif %}
{% endblock content %}
