{% extends "simtaru_kabbdg/base.html" %}
{% load staticfiles %}
{% block content_container %}
<!-- Carousel
    ================================================== -->
    <div id="homeCarousel" class="carousel slide carousel-home" data-ride="carousel">

          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#homeCarousel" data-slide-to="1"></li>
            <li data-target="#homeCarousel" data-slide-to="2"></li>
          </ol>

          <div class="carousel-inner" role="listbox">

            <div class="item active">

              <img src="{% static 'simtaru_kabbdg/assets/images/slider/home-slider-1.jpg' %}" alt="">

              <div class="container">

                <div class="carousel-caption">

                  <h2 class="carousel-title bounceInDown animated slow">Selamat Datang Di Aplikasi SIMTARU</h2>
                  <h4 class="carousel-subtitle bounceInUp animated slow ">Kabupaten Bandung</h4>
                  <!-- <a href="#" class="btn btn-lg btn-secondary hidden-xs bounceInUp animated slow" data-toggle="modal" data-target="#donateModal">SELENGKAPNYA..</a> -->

                </div> <!-- /.carousel-caption -->

              </div>

            </div> <!-- /.item -->

            <div class="item ">

              <img src="{% static 'simtaru_kabbdg/assets/images/slider/home-slider-2.jpg' %}" alt="">
              <div class="container">

                <div class="carousel-caption">

                  <!-- <a href="#" class="btn btn-lg btn-secondary hidden-xs bounceInUp animated slow" data-toggle="modal" data-target="#donateModal">SELENGKAPNYA..</a> -->

                </div> <!-- /.carousel-caption -->

              </div>
            </div> <!-- /.item -->


            <div class="item ">

              <img src="{% static 'simtaru_kabbdg/assets/images/slider/home-slider-3.jpg' %}" alt="">

              <div class="container">

                <div class="carousel-caption">

                  <h2 class="carousel-title bounceInDown animated slow" ></h2>
                  <h4 class="carousel-subtitle bounceInUp animated slow"></h4>
                  <a href="/peta" class="btn btn-lg btn-secondary hidden-xs bounceInUp animated slow">Peta Kab.Bandung</a>

                </div> <!-- /.carousel-caption -->

              </div>

            </div> <!-- /.item -->

          </div>

          <a class="left carousel-control" href="#homeCarousel" role="button" data-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>

          <a class="right carousel-control" href="#homeCarousel" role="button" data-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>

    </div><!-- /.carousel -->

    </div><!-- /.home-reasons -->

    <div class="section-home about-us fadeIn animated">

        <div class="container">

            <div class="row">

                <div class="col-md-3 col-sm-6">

                  <div class="about-us-col">

                        <div class="col-icon-wrapper">
                          <iframe width="210" height="220"
                            src="https://www.youtube.com/embed/YPe5JGJdoPE">
                         </iframe>
                      </div>
                      <br>
                         <a href="#" class="btn btn-primary"> Tentang Kab.Bandung</a>
                  </div>

                </div>

                <div class="col-md-3 col-sm-6">

                  <div class="about-us-col">

                        <div class="col-icon-wrapper">
                          <img src="{% static 'simtaru_kabbdg/assets/images/icons/make-donation-icon.png' %}" alt="">
                        </div>
                        <h3 class="col-title">Peta</h3>
                        <div class="col-details">

                          <p>Peta Kabupaten Bandung yang disajikan dalam bentuk peta dasar, peta administrasi dan peta rencana</p>

                        </div>
                        <a href="/peta" class="btn btn-primary"> Selengkapnya.. </a>

                  </div>

                </div>

                <div class="col-md-3 col-sm-6">

                  <div class="about-us-col">

                        <div class="col-icon-wrapper">
                          <img src="{% static 'simtaru_kabbdg/assets/images/icons/help-icon.png' %}" alt="">
                        </div>
                        <h3 class="col-title">Download</h3>
                        <div class="col-details">

                          <p>Download Bermacam-macam dokumen peta dan dokumen lainnya..</p>

                        </div>
                        <a href="indexdownload.php" class="btn btn-primary"> Selengkapnya.. </a>

                  </div>

                </div>

                <div class="col-md-3 col-sm-6">

                  <div class="about-us-col">

                        <div class="col-icon-wrapper">
                          <img src="{% static 'simtaru_kabbdg/assets/images/icons/programs-icon.png' %}" alt="">
                        </div>
                        <h3 class="col-title">Kontak Kami</h3>
                        <div class="col-details">

                          <p>Alamat kami di kantor Pemda Kabupaten Bandung.</p>

                        </div>
                        <a href="contact.php" class="btn btn-primary"> Selengkapnya.. </a>

                  </div>

                </div>


            </div>

        </div>

    </div> <!-- /.about-us -->

    <!-- Tampilkan Berita -->
    <div class="container gallery fadeIn animated">

        <div class="container">

            <h2 class="title-style-1">Berita Terbaru<span class="title-under"></span></h2>
            <div class="row">
                {% for b in berita %}
                <div class="col-md-3 col-sm-6">
                    <div class="cause">
                        <img src="{{ b.gambar.url }}" alt="" class="cause-img" height="150" width="150"/>
                        <h4 class="cause-title">
                            <a href="#">
                                {{ b.judul }}
                            </a>
                        </h4>
                        <div class="cause-details">
                            {{ b.updated }}
                            <br>
                            <br>
                            <p>{{ b.berita_pendek }}...</p>
                        </div>
                        <div class="btn-holder text-center">
                          <a href="{% url 'berita:sebuah_berita' b.id %}" class="btn btn-primary" data-toggle="modal"> SELENGKAPNYA..</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            <!--<h3>Belum Ada Berita</h3>-->
            </div>
        </div>
    </div> <!-- /.our-causes -->
{% endblock content_container %}