{% extends 'simtaru_kabbdg/base_content.html' %}
{% load staticfiles %}
{% block title %}
    Profil Simtaru
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-7 col-sm-12 col-form">

            <h2 class="title-style-2">Silahkan Isi Form Dibawah Ini<span class="title-under"></span></h2>

            <form action="{% url 'kontak' %}" class="contact-form ajax-form" method="post">
                {% csrf_token %}
                <div class="row">

                    <div class="form-group col-md-6">
                        <input type="text" name="name" class="form-control" placeholder="Nama*" required>
                    </div>

                     <div class="form-group col-md-6">
                        <input type="email" name="email" class="form-control" placeholder="E-mail*" required>
                    </div>

                </div>
                <div class="form-group">
                    <textarea name="message" rows="5" class="form-control" placeholder="Message*" required></textarea>
                </div>
                <div class="form-group alerts">

                    <div class="alert alert-success" role="alert">

                    </div>

                    <div class="alert alert-danger" role="alert">

                    </div>

                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary pull-right">Kirim Pesan</button>
                </div>
                <div class="clearfix"></div>
            </form>

        </div>
        <div class="col-md-4 col-md-offset-1 col-contact">

            <h2 class="title-style-2"> Aplikasi Simtaru <span class="title-under"></span></h2>
            <div class="contact-items">

                <ul class="list-unstyled contact-items-list">
                    <li class="contact-item"> <span class="contact-icon"> <i class="fa fa-map-marker"></i></span>
                        Jl. Raya Soreang km.17 Komplek Pemda Kabupaten
                        Soreang, Bandung 40912
                        Jawa Barat
                    </li>
                    <li class="contact-item"> <span class="contact-icon"> <i class="fa fa-phone"></i></span>(022) 5891-159</li>

                    <li class="contact-item"> <span class="contact-icon"> <i class="fa fa-envelope"></i></span> contact@simtaru.go.id</li>
                </ul>
            </div>



        </div>
    </div>
{% endblock content %}