{% extends 'simtaru_kabbdg/base_form.html' %}
{% block content %}
<h2 class="title-style-2">Silahkan Login<span class="title-under"></span></h2>
<form action="." method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Login"/></p>
</form>
{% endblock content %}