{% extends 'simtaru_kabbdg/base_content.html' %}
{% load staticfiles %}
{% block title %}
    Profil Simtaru
{% endblock title %}

{% block content %}
    <div class="row fadeIn animated">

                <div class="col-md-6">

                    <img src="{% static 'simtaru_kabbdg/assets/images/about-us.jpg' %}" alt="" class="img-responsive">

                </div>

                <div class="col-md-6">

                    <h2 class="title-style-2">Tentang Simtaru <span class="title-under"></span></h2>

                    <p><strong>Simtaru</strong> Menurut UU Nomor 26 tahun 2007 telah mengamanatkan semua daerah provinsi, kabupaten, dan kota harus mempunyai Rencana Tata Ruang Wilayah (RTRW)  dan Rencana Rinci Tata Ruang agar pembangunan di daerah dapat dilaksanakan dengan baik.
                    </p>
                    <p>
                     Untuk mewujudkan penyelenggaraan penataan ruang yang sesuai aturan hukum ternyata pada pemerintah daerah masih dihadapi persoalan-persoalan yang cukup mendasar, diantaranya yang merupakan hal terpenting adalah keterbatasan SDM di dalam memahami dan penyelenggaraan penataan ruang. Dilain pihak tuntutan masyarakat yang didasari atas kesadaran masyarakat akan fungsi dan peran penataan ruang yang baik juga telah meningkat.
                    </p>

                </div>

            </div>
{% endblock content %}