.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 300px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.ol-popup-closer:after {
    content: "✖";
}
.ol-custom-overviewmap,
.ol-custom-overviewmap.ol-uncollapsible {
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
}

.ol-custom-overviewmap:not(.ol-collapsed)  {
    border: 1px solid black;
}

.ol-custom-overviewmap .ol-overviewmap-map {
    border: none;
    width: 300px;
}

.ol-custom-overviewmap .ol-overviewmap-box {
    border: 2px solid red;
}

.ol-custom-overviewmap:not(.ol-collapsed) button{
    bottom: auto;
    left: auto;
    right: 1px;
    top: 1px;
}

.ol-rotate {
    top: 170px;
    right: 0;
}

.ol-custom-mouseposition {
    background: rgba(0,60,136,.3);
    border-radius: 4px;
    left: 8px;
    top: 8px;
    position: absolute;
    color: #eee;
    font-size: 12px;
}

.tabbable .tab-content .tab-pane {
    max-height: 13em;
    overflow-y: scroll;
}